*,html,body{
  top: 0;
  right: 0;
  left: 0;
  margin:0;
  padding: 0;
  box-sizing: border-box;
  
}
.font-ema{
  src: url(../GloriaHallelujah.ttf) format("truetype");
  font-family: 'Gloria Hallelujah', cursive;

}

body{
  background: url(../extra-images/wall.jpg) no-repeat fixed center center;
  background-size: cover;
}  body::after{
      content: "";
      margin:0px;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      position: absolute;
      background: linear-gradient(to right, black, black) repeat fixed
      center center;
      opacity: .8;
      z-index: -1;     
  }
  body::before{
            content: "";
            margin:0px;
            width: 100%;
            height: 800px;
            top: 620px;
            left: 0px;
            position: absolute;
        background: linear-gradient(to right, black, black) repeat fixed
        center center;

        opacity: .8;
        z-index: -1;
    
  }
  header{
    width: 100%;
    height: 100px;
    background: steelblue;
    padding:25px 5px;
  }
  nav{
  display:flex;
  background:#4cd137;
  line-height: 3;
  font-weight: bold;
  font-size:18px;
}

div{
  flex:auto;
  border-left: 1px solid #000;
  text-align: center;
  color:white;
}
nav div:hover{
	background: rgba(255,255,255,.3);
}
a {
  text-decoration: none;
  color:white;
  line-height: 3;
  display: block;
}


nav .dropdown{
	border-radius: 30px;
}
/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 50px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover{
  background: #ff9f43;
}
.dropdown:hover .dropdown-content {
    display: block;
}
  

  #titulo{
    width: 40%;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 2em;
    border-radius: 30px;
    
    background: white;
    color: black;
  }


  label{
	position: absolute;
	top:150px;
	width: 50px;
	background: #C4E538;
	font-weight: bold;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 5px;
	border-radius: 10px;
	z-index: 300;
	cursor: pointer;

	}

.panel{
  position: absolute;
  top: 40%;
  width: 98%;
  height:500px;
  left:-100%;
  text-align: center;
  justify-content: center;
  overflow-x:hidden; 
  border-radius: 20px;
  transition: all 2s;
  z-index: 250;
}
.titulo-panel{
	color:black;
}

img{
  max-width: 700px;
  max-height:600px;
}

label:hover ~ .panel{
	top: 33%;
   left:0%;
}




  .portada{
    width: 100%;
    
    display: flex;
    justify-content: center;
    
    padding-bottom: 100px;

  }
  .portada #slogan{
    background: steelblue;
    width: 300px;
    height: 500px;
    padding-top: 200px;
    margin-left: 200px;
    font-size: 1.8em;
    padding-bottom: 5px;
    text-align: center;
    border-radius: 30px;
  }
  .portada .ni{
    max-height: 600px;
    border-radius: 30px;
  }


  #myCarousel{
    padding-top: 100px;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
  }
  .carousel-indicators{
    padding-top:0;
  }

  .item{
    max-width: 700px;
    margin: auto;
  }
  .item img{
    border-radius: 50px;
  }
  footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  footer {
    justify-content: space-between;
  }
  
  footer{
  margin-top: 50px;
  background: steelblue;
  border-radius: 30px;
  font-size: .9em;
}

footer .direccion{
  text-align: center;
  padding-bottom: 15px;
}
  footer .acerca {
    padding-left: 100px;
  }
  footer .direccion{
    padding-right:  100px;
  }











/*
 AQUI 
 EMPIEZA EL RESPONSIVE DESIGN
 PARA DISPOSITIVOS DE 600 PIXELES
 DE ANCHO

*/



@media screen and (max-width: 700px) {
  *,html,body{
  top: 0;
  right: 0;
  left: 0;
  margin:0;
  padding: 0;
  box-sizing: border-box;
  
}
.font-ema{
  src: url(../GloriaHallelujah.ttf) format("truetype");
  font-family: 'Gloria Hallelujah', cursive;

}

body{
  background: url(../extra-images/wall.jpg) no-repeat fixed center center;
  background-size: cover;
}

body::after{
    content: "";
    margin:0px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    background: linear-gradient(to right, black, black) repeat fixed
    center center;
    opacity: .8;
    z-index: -1;     
 }
body::before{
            content: "";
            margin:0px;
            width: 100%;
            height: 100%;
            top: 600px;
            left: 0px;
            position: absolute;
        background: linear-gradient(to right, black, black) repeat fixed
        center center;

        opacity: .8;
        z-index: -1;
    
} 
header{
  margin: 0;
  padding: 0;
  background: yellow;
  

}

nav{
  margin-top: 0;
  display: block;
  background: #2ecc71;
  line-height: 3;
  font-weight: bold;
  font-size:18px;
    text-align: center;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    right:100px;
    top: 50px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  .dropdown:hover{
    background:gray;
  }
  .dropdown-content a:hover{
    background:gray;
    left: 100px;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }

#titulo{
  width: 100%;

  margin-top: 300px;
  margin-bottom: 50px;
  line-height: 1;
  font-size: 1.5em;
  display:flex;
  background: white;
  color: black;
  text-align: center;
  display: block;
}




label{
	position: absolute;
	top:500px;
	width: 50px;
	background: #C4E538;
	
	font-weight: bold;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 5px;
	z-index: 300;
	cursor: pointer;
}

.panel{
  position: absolute;
  top: 40%;
  width: 98%;
  height:500px;
  left:-100%;
  text-align: center;
  justify-content: center;
  overflow-x:hidden; 
  border-radius: 20px;
  transition: all 2s;
  z-index: 250;
}

img{
  max-width: 700px;
}

label:hover ~ .panel{
	top: 33%;
   left:0%;
}



.portada{
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;

}
.portada #slogan{
  background: steelblue;
  width: 300px;
  font-size: 1.2em;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 100px;
  text-align: center;
}
p{
  color: white;
  font-weight: b;
}


.ni{
  max-width: 300px;
  max-height: 300px;

}
#myCarousel{
  padding-top: 50px;
  left: 200px;
  text-align: center;
}

.carousel-indicators{
  padding-top: 30px;
  left: 180PX;
}
.carousel-inner{
  text-align: center;
}
.item{
  max-width: 300px;
}

footer{
  margin-top: 50px;
  height: 300px;
  background: steelblue;
  border-radius: 30px;
  font-size: 1.2em;
}
footer .acerca{
  padding-top: 20px;
}

footer .direccion{
  padding-top: 20px;
  text-align: center;
  padding-bottom: 15px;
}







  /*NAAAAAAAAvvv*/
  
  
}
