body{
	padding-left: 0;
	background-color: black;
}
.menu {
	list-style: none;
	margin: 2em auto;
	line-height: 42px;
	/*outline: 3px solid red; */
	width: 15em;

}
.menu a{
	display: block;
	text-decoration: none;
	color: white;
	width: 100%;
	

}
.menu li{
	/*outline: 1px solid green;*/
	padding-left: 3em;
	box-shadow: 3px 0 white inset;
	margin-bottom: 10px;
	transition: all 2s;

}
.menu li:hover{
	box-shadow:15em 0 rgba(255,255,255,.2)  inset;
}