body{
  background:lightgreen;
}
nav{
  margin: 0;
  padding: 0 ;
  display:flex;
  background:steelblue;
  line-height: 3;
  font-weight: bold;
  font-size:18px;
}

div{
  flex:auto;
  border-left: 1px solid #000;
}
a {
  text-decoration: none;
  color:white;
  line-height: 3;
  display: block;
}
/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content a {
  
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 700px) {
  nav{
  margin-top: 100px;
  display: block;
  background: #449d44;
  line-height: 3;
  font-weight: bold;
  font-size:18px;
    text-align: center;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    right:100px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  .dropdown:hover{
    background:gray;
  }
  .dropdown-content a:hover{
    background:gray;
    left: 100px;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
  
}